# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
*.db
*.sqlite3

# Env
.env
.env.local
.env.prod

# Uploads
api/uploads/*
!api/uploads/.gitkeep

# Node
node_modules/
app/dist/
app/.vite/
*.tsbuildinfo
app/vite.config.d.ts
app/vite.config.js

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
data/
