@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconde a scrollbar horizontal da bottom nav mas mantem a rolagem */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
